<html>
<body>
        <!-- About Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">About</h1>
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                        <div class="row g-0 about-bg rounded overflow-hidden">
                            <div class="col-6 text-start">
                                <!-- <img class="img-fluid w-100" src="img/about-1.jpg"> -->
                            </div>
                            <div class="col-6 text-start">
                                <!-- <img class="img-fluid img-fluids"  src="{{ url_for('static', filename='img/4.jpg') }}" alt=""> -->
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid img-fluids"  src="{{ url_for('static', filename='img/2.jpg') }}" alt="">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid img-fluids"  src="{{ url_for('static', filename='img/3.jpg') }}" alt="">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid img-fluids"  src="{{ url_for('static', filename='img/4.jpg') }}" alt="">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid img-fluids"  src="{{ url_for('static', filename='img/5.jpg') }}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                        <h1 class="mb-4">Discover Your Ideal Brokerage Partners with BrokerEase</h1>
                        <p class="mb-4">Connecting with the right brokers is key to success. BrokerEase helps you find brokerages that match your preferences and expertise.</p>
                        <p><i class="fa fa-check text-primary me-3"></i>Explore diverse brokerage categories</p>
                        <p><i class="fa fa-check text-primary me-3"></i>Connect with potential clients and buyers</p>
                        <p><i class="fa fa-check text-primary me-3"></i>Achieve success in your brokerage journey</p>
                        <a class="btn btn-primary py-3 px-5 mt-3" href="">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- About End -->

</body>
</html>