<div class="container-fluid bg-primary mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
    <div class="container">
        <div class="row g-2">
            <div class="col-md-10">
                <div class="row g-2">
                    <div class="col-md-4">
                        {{form.catagories.label }}
                        {{form.catagories(class="form-select border-0")}}
                    </div>
                    <div class="col-md-4">
                        {{form.city.label}}
                        {{form.city(class="form-select border-0")}}
                    
                    </div>
                    <div class="col-md-4">
                        {{form.sub_City.label}}
                        {{form.sub_City(class="form-select border-0")}}
                    
                    </div>
                    <div class="col-md-4">
                        {{form.min_price.label}}
                        {{form.min_price(class="form-control border-0")}}
                    
                    </div>
                    <div class="col-md-4">
                        {{form.max_price.label}}
                        {{form.max_price(class="form-control border-0")}}
                    
                    </div>

                </div>
            </div>
            <div class="col-md-2">
                <button class="btn btn-dark border-0 w-100">Search</button>
            </div>
        </div>
    </div>
</div>
<!-- Search End -->