* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper {
    position:relative;
    width: 750px;
    background: transparent;
    border:2\x
}

.wrapper .form-box {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: blue;
    display: flex ;
    flex-direction: (column);
    justify-content:center;

}