<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>User_registration</title>
	<link rel="stylesheet" type="text/css" href="stylle.css">
</head>
<body>

	
	<div>
		<h1>Create Account</h1>
		<form>
			<label> Full Name: 
				<input type="text" name="name" placeholder="Yabets kifle"><br>
			
			<label> 
				Gmail:	
				<input type="text" name="name" placeholder="yabetskifle9@gmail.com"><br>
			</label>
			<label>
				Phone Number:
				<input type="text" name="Phone_Number" placeholder="+25192299469"><b><br>
			</label>
			<label>
				Enter_Passwor:
				<input type="password" name="Password" placeholder="*******"><br>
			<label>
			<label>
				Retype Password:
				<input type="password" name="retype_password" placeholder="******	"><br>
			</label>
			<label>
				Gender <br>
				<input type="radio" name="male-radio">male<br>
				<input type="radio" name="female-radio">female<br>
			</label>
			<label>
				<button>Create acount</button>
			</label>
		</form>
	</div>

</body>
</html>