{% extends "layout.html"%}

{% block content %}
<body>
<div class="container">
  <div class="title">CREATE ACCOUNT</div>
  <div class="content">
    <div class="screen__content">

      <form method="POST" action="">
       
        <div class="user-details form-group">
          <div class="input-box">

            {{ form.FullName.label(class="details form-control-label") }}

          </div>
        
  
          <div class="input-box">
            {{ form.email.label(class="details") }}             
          </div>
          <div class="input-box">
            {{ form.phoneNumber.label(class="details") }}
          </div> 

         
             <div class="input-box">
              {{ form.password.label(class="details") }}

            </div>
            
          <div class="input-box">
            {{ form.confirm_password.label(class="details") }}
          </div>
          
          <div class="form-group">
             <div class="input-box">
            <label>Gender</label><br>
            {% for subfield in form.gender %}
            <div class="form-check form-check-inline">
                {{ subfield(class="form-check-input") }}
                <label class="form-check-label" style="font-size: 12px;">{{ subfield.label }}</label>
            </div>
        {% endfor %}
          </div>
        </div> 
      </div>
       
        {# <div class="button">
        <input type="submit" value="Register"> </div> #}
        <div class="button">
          {{ form.submit(class="button") }}
        </div>
      </div>
      </div>
        <div>
          <small>
          </small>
        </div>

      </form>

</body>
{% endblock content %}
